name: Flutter CI

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  flutter_ci:
    name: Flutter CI
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'

      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true

      - name: Create dummy firebase_options.dart
        run: |
          cat <<EOF > lib/firebase_options.dart
          import 'package:firebase_core/firebase_core.dart' show FirebaseOptions;
          class DefaultFirebaseOptions {
            static FirebaseOptions get currentPlatform {
              return const FirebaseOptions(
                apiKey: 'dummy',
                appId: 'dummy',
                messagingSenderId: 'dummy',
                projectId: 'dummy',
              );
            }
          }
          EOF

      - name: Install dependencies
        run: flutter pub get

      - name: Analyze code
        run: flutter analyze --no-fatal-infos

      - name: Run tests
        run: flutter test

      - name: Build Web
        run: flutter build web

      - name: Build APK (Debug)
        run: flutter build apk --debug
